@import './style.css';

:root{
    /* font-family */
    --ff-poppins : 'Poppins', sans-serif;
    --ff-roboto : 'Roboto', sans-serif;
    --ff-passion : 'Passion One', cursive;

    /* color-plate */
    --c-red : #ec1e00;
    --c-grey-blue : #232f3e;
    --c-light-grey : #666666;
    --c-lighter-grey: #dad7d7;
    --c-white : #ffffff;
    --c-darker-white : #f9f9f9;
    --c-darkest-white : #e7e7e7;
    --c-green : #377D71;
    --c-dark-baby-pink : #FBA1A1;
    --c-orange-shade : #cc691b;
    /* margin */
    --m-60 : 60px;
    --m-30 : 30px;
    --m-15 : 15px;

    /* padding */
    --p-60 : 60px;
    --p-30 : 30px;
    --p-15 : 15px;
    
    /* transition */
    --transition : 150ms ease-in-out;
}

.hero{
    position: relative;
    padding-top: var(--p-60);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    transition: all var(--transition);
}
.hero::before{
    position: absolute;
    top:30px;
    left: -20rem;
    height: 100vh;
    width: 50%;
    content: '';
    background: url('../images/svgs/2730317-e1e3e5.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0.4;
}
.hero-header{
    font-family: var(--ff-passion);
    font-weight: 700;
    font-size: 4rem;
    color: var(--c-green);
    z-index: 1;
}
.hero-header-one{
    text-align: center;
    margin-inline: auto;
}

.hero-fig{
    z-index: 1;
}
#hero-fig-svg{
    height: 500px;
    width: 730px;
    transition: all var(--transition);
}

/* product-container */

.products-container{
    padding: var(--p-60);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.product-section-header{
    position: relative;
    font-size: 3rem;
    font-family: var(--ff-passion);
    letter-spacing: 0.1rem;
    color: var(--c-white);
    text-transform: uppercase;
    background: var(--c-green);
    width: fit-content;
    margin-inline: auto;
    padding-inline: var(--p-15);
}
.product-section-header::before,.product-section-header::after{
    content: '';
    display: inline-block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    width: 50%;
    z-index: -1;
    border: 1px solid var(--c-green);
}
.product-card-container{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-inline: auto;
    gap: 40px;
    height: 300px;
    flex-wrap: nowrap;
    /* border: 1px solid rebeccapurple; */
}

.product-card-container:nth-child(odd){
    margin-top: var(--m-30);
    background: var(--c-white);
}
.product-card-container:nth-child(even){
    margin-top: var(--m-30);
    background: var(--c-darker-white);
}
.product-card-img{
    height: 300px;
    width: 350px;
    overflow: hidden;
}

.product-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: scale var(--transition);
}

.product-details{
    position: relative;
    max-height: 100%;
    height: 90%;
    font-family: var(--ff-poppins);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: var(--p-15);
    width: 80%;
}

.product-header{
    font-size: 2rem;
    font-weight: 800;
    color: var(--c-grey-blue);
    text-transform: uppercase;
}

.product-price{
    font-size: 1.3rem;
    color: var(--c-red);
}
.product-defination{
    font-size: 1.1rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    text-align: justify;
    height: max-content;
    /* max-width: 950px; */
}

.product-defination::-webkit-scrollbar{
    display: none;
    scrollbar-width: 5px;
}

.product-anchor{
    color: var(--c-light-grey);
    height: max-content;
    padding: calc(var(--p-15) / 2);
    width: max-content;
    background:var(--c-darkest-white);
    font-weight: 600;
    font-size: large;
    transition: all var(--transition);
}
.product-anchor:hover{
    background: var(--c-orange-shade);
    color: var(--c-darkest-white);
}

@media screen and (max-width:1440px){
    .hero-header{
        font-size: 3rem;
    }
    .hero::before{
        left: -19rem;
    }
    #hero-fig-svg{
        height: 400px;
        width: 550px;
    }
}
@media screen and ( max-width:1024px){
    .hero::before {
        left: -19rem;
        top: 4rem;
        width: 100%;
    }
    .products-container{
        padding: var(--p-30);
    }
    .product-card-container{
        width: 90%;
        gap: 30px;
    }
    .product-section-header {
        font-size: 2.5rem;
    }
    .product-header{
        font-size: 1.5rem;
    }
    .product-price{
        font-size: 1.2rem;
    }
    .product-defination{
        font-size: 1rem;
        /* width: 575px; */
    }
    .product-anchor{
        font-size: medium;
    }
}
@media screen and (max-width:950px){
    .hero-header{
        font-size: 2.4rem;
    }
    .hero::before{
        left: -19rem;
        top: 5rem;
        width: 100%;
    }
    #hero-fig-svg{
        height: 400px;
        width: 500px;
    }
    .product-card-container{
        width: 100%;
        gap: 25px;
    }
    .product-defination {
        font-size: 1rem;
        /* width: 525px; */
    }
}
@media screen and (max-width:768px){
    .hero-header{
        font-size: 2.4rem;
    }
    .hero::before{
        display: none;
    }
    #hero-fig-svg{
        height: 400px;
        width: 430px;
    }
    .product-card-container{
        width: 100%;
        gap: 20px;
    }
    .product-section-header{
        font-size: 2.3rem;
    }
    .product-price{
        font-size: 1.1rem;
    }
    .product-defination{
        font-size: 0.93rem;
        /* width: 475px; */
    }
    .product-anchor{
        font-size: medium;
    }
}


@media screen and (max-width:481px){
    .hero{
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
    #hero-fig-svg{
        height: 400px;
        width: 350px;
    }
    .products-container {
        padding: calc(var(--p-30) / 2);
    }
    .product-card-container{
        flex-direction: column;
        height: max-content;
    }
    .product-card-img {
        height: 200px;
    }
    .product-details{
        width: 100%;
        padding-inline: calc(var(--p-15) / 2);
    }
    .product-section-header{
        font-size: 1.6rem;
    }
    .product-header{
        font-size: 1.3rem;
    }
    .product-price{
        font-size: 1rem;
    }
    .product-card-img{
        width: 100%;
    }
    .product-defination{
        width: 100%;
        font-size: 0.9rem;
    }
    .product-anchor{
        font-size: small;
        margin-top: 12px;
    }
}

@media screen and (max-width:320px){
    .hero-header{
        font-size: 2.4rem;
    }
    #hero-fig-svg{
        height: 400px;
        width: 285px;
    }
}